// ------------
//  Variables
// ------------

// Colors

$color-primary: #58e1c1;
$color-secondary: #51ddfc;

$white: #fff;
$text-color: #777;
$error: #e4757a;
$info: #927bc1;
$success: #63cc82;
$warning: #fd7856;

// Breakpoints

$break-lg: 768px;

// Fonts
$font-stack-primary: 'Lato', sans-serif;