/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media (min-width: $break-lg) {

.container {
  max-width: 1400px;
  @include center;
}

.centered {
  @include center;
}

.row {
  flex-direction: row;
}

[class^=col] {
  display: flex;
  justify-content: center;
  margin-top: 0;
  align-items: center;
}

[class^=col] + [class^=col] {
  margin-left: 10px;
}
    
    
$cols: (
    col-1: 8.33%,
    col-2: 16.67%,
    col-3: 25.00%,
    col-4: 33.33%,
    col-5: 41.67%,
    col-6: 50.00%,
    col-7: 58.33%,
    col-8: 66.67%,
    col-9: 75.00%,
    col-10: 83.33%,
    col-11: 91.67%,
    col-12: 100%,
);
    
@each $col, $per in $cols {
    .#{$col} {
        flex-basis: $per;
    }
}

.nav {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
    &-link {
        flex-basis: 100px;
    }
}


.btn {
  padding: 10px 30px;
}

.btn + .btn {
  margin-left: 10px;
}

.logo {
  margin-left: initial;
  margin-right: initial;
}

}